.gamePage {
  width: 100vw;
  min-height: 100vh;
  background-color: #011c3e;
  padding: 30px 24px;
  box-sizing: border-box;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.gameHeader {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 25px;
}
.timeArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.headerLabel {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
.headerLabel.v1{
  margin-right: auto;
}
.headerLabel.v2{
  margin-left: auto;
}
.timeBar {
  width: 90px;
  height: 15px;
  background-color: #62758a;
  border-radius: 20px;
  overflow: hidden;
  margin-right: auto;
}
.timeBarFill {
  width: 65%;
  height: 100%;
  background-color: #ffd93d;
  border-radius: 20px;
}
.timeNumber {
  color: #ffd93d;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  text-align: center;
  line-height: 1;
}
.scoreArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreNumber {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-left: auto;
}
.questionBox {
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.questionText {
  font-size: 6rem;
  font-weight: bold;
}
.greenText {
  color: #34a853;
}
.instruction {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 15px 0 20px;
}
.colorButtons {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 25px;
}
.colorBtn {
  height: 110px;
  border: 2px solid white;
  border-radius: 28px;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.redBtn {
  background-color: #ff3b30;
}
.blueBtn {
  background-color: #1478f2;
}
.greenBtn {
  background-color: #34b34a;
}

.yellowBtn {
  background-color: #fbbc05;
}
.colorBtn:active {
  transform: scale(0.96);
}